{% extends "base.html" %}

{% block title %}Registro de usuario{% endblock %}

{% block content %}
	<h2>Registro</h2>	
	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	    {{form.as_p}}
		<p><input type='submit' value='Submit'></p>
	</form>
{% endblock %}
