{% extends 'base.html' %}

{% block title %}Tienda virtual{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<script type="text/javascript">
		var bannersnack_embed = {"hash":"bc9edq00c","width":728,"height":90,"t":1482057162,"userId":26728736,"responsive":true,"type":"html5"};
		</script>
		<script type="text/javascript" src="//cdn.bannersnack.com/iframe/embed.js"></script>
	</div>
</div>
<hr>
<h4>Algunos productos que podrían interesarte...</h4>
<div class="row">
	<div class="col-sm-9">

		{% for p in productos %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="row" style="height:250px; background: #FAFAFF; border: 1px solid #EEF">
					<div class="col-md-6"><a href="{% url 'productos:detallesproducto' id=p.id %}"><img class="img-rounded img-responsive" src='{{ MEDIA_URL }}{{ p.imagen }}'/></a></div>
					<div class="col-md-6">
						<div class="row"><div class="col-xs-12"><a href="{% url 'productos:detallesproducto' p.id %}"><h4>{{ p.nombre }}</h4></a></div></div>
						<div class="row"><div class="col-xs-12">{{ p.precio }}€</div></div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-sm-3">
		<div class="row"><div class="col-sm-12">
			<div class="well">
			<h4>Consulta estado pedido</h4>
			<form action="{% url 'compras:buscarpedido' %}" method="post">
			    {% csrf_token %}
			    {{ buscarpedidoform }}
			    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</form>
			</div>
		</div></div>
		<div class="row"><div class="col-sm-12">
			{% if categorias %}
				<div class="list-group">
				{% for c in categorias %}
					{% if c.activa == True %}

						<a href="{% url 'productos:listaproductoscat' catid=c.id %}" class="list-group-item">{{ c.nombre }}</a>

					{% endif %}
				{% endfor %}
				</div>
			{% endif %}
		</div></div>
		
	</div>
</div>
{% endblock content %}