{% extends 'base.html' %}

{% block title %}Listado de productos{% endblock %}

{% block content %}

{% load query_transform %}

<div class="row">
	<div class="col-md-6">
		{% if categorias %}
			<h4>Categorias</h4>
			<div class="list-group">
			{% for c in categorias %}
				{% if c.activa == True %}

					<a href="{% url 'productos:listaproductoscat' catid=c.id %}" class="list-group-item">{{ c.nombre }}</a>

				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
	</div>
	<div class="col-md-6">
		<form class="form-inline pull-right" method="GET" action="{% url 'productos:listaproductos' %}">
        <div class="form-group">
          <input name="busqueda" type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
	</div>
</div>



<div class="row">
{% for p in productos %}
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="row" style="height:250px; background: #FAFAFF; border: 1px solid #EEF">
			<div class="col-md-6"><a href="{% url 'productos:detallesproducto' id=p.id %}"><img class="img-rounded img-responsive" src='{{ MEDIA_URL }}{{ p.imagen }}'/></a></div>
			<div class="col-md-6">
				<div class="row"><div class="col-xs-12"><a href="{% url 'productos:detallesproducto' p.id %}"><h4>{{ p.nombre }}</h4></a></div></div>
				<div class="row"><div class="col-xs-12">{{ p.precio }}€</div></div>
				<div class="row"><div class="col-xs-12 text-justify">{{ p.descripcion | truncatewords:10 }}</div></div>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<div class="pagination">
		    <span class="step-links">
		        {% if productos.has_previous %}
		            <a href="?{% query_transform request page=productos.previous_page_number %}">Anterior</a>
		        {% endif %}

		        <span class="current">
		            Página {{ productos.number }} de {{ productos.paginator.num_pages }}.
		        </span>

		        {% if productos.has_next %}
		            <a href="?{% query_transform request page=productos.next_page_number %}">Siguiente</a>
		        {% endif %}
		    </span>
		</div>
	</div>
</div>
{% endblock content %}