{% extends 'base.html' %}

{% block title %}{{ producto.nombre }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src='{{ MEDIA_URL }}{{ producto.imagen }}'/>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-8">
				<h3>{{ producto.nombre }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h3 class="pull-right" ng-show="catalog.currentProduct.discounts.length">
							{{ producto.precio }} €
						</h3>
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
		<hr>
			<div class="col-sm-offset-6 col-sm-6">
				<a href="{% url 'compras:addcarrito' producto.id %}" class="btn btn-primary btn-lg btn-block">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
		</div>
	</div>	
</div>
<hr>
<div class="row">
	<div class="col-md-8 text-justify">{{ producto.descripcion }}</div>
	<div class="col-md-4" style="background: #FAFAFF; border: 1px solid #EEF">
		<div class="row">
			<div class="col-md-12"><h4>Productos relacionados</h4></div>
		</div>
		{% for rel in relacionados %}
			<div class="row">
				<div class="col-md-6"><a href="{% url 'productos:detallesproducto' id=rel.id %}"><img class="img-rounded img-responsive" src='{{ MEDIA_URL }}{{ rel.imagen }}'/></a></div>
			<div class="col-md-6">
				<div class="row"><div class="col-xs-12"><a href="{% url 'productos:detallesproducto' rel.id %}"><h4>{{ rel.nombre }}</h4></a></div></div>
				<div class="row"><div class="col-xs-12">{{ rel.precio }}€</div></div>
			</div>
			</div>
		{% endfor %}

	</div>
</div>

{% endblock %}