{% extends "base.html" %}

{% block title %}
Editar mi perfil
{% endblock %}

{% block content %}
	<h3>Editar mi perfil</h3>
	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	    {{form.as_p}}
		<p><input type='submit' value='Guardar'></p>
	</form>

{% endblock %}
