{% extends "base.html" %}

{% block title %}
{% if new %}
	Nueva dirección
{% else %}
	Editar dirección
{% endif %}
{% endblock %}

{% block content %}
	{% if new %}
		<h3>Añadir nueva dirección</h3>
	{% else %}
		<h3>Editar dirección</h3>
	{% endif %}
	
	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	    {{form.as_p}}
		<p><input type='submit' value='Guardar'></p>
	</form>

{% endblock %}
