{% extends 'base.html' %}

{% block title %}Perfil de usuario: {{ usuario.username }}{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12"><h3>Mi perfil <a href="{% url 'usuarios:editarperfil' %}"><span class="glyphicon glyphicon-pencil"></span></a></h3></div>
</div>
<div class="row">
	<div class="col-md-12">
		<p><strong>Nombre de usuario:</strong> {{ usuario.username }}</p>
		<p><strong>Email:</strong> {{ usuario.email }}</p>
		<p><strong>Nombre:</strong> {{ usuario.first_name }}</p>	
		<p><strong>Apellidos:</strong> {{ usuario.last_name }}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Mis direcciones  <a href="{% url 'usuarios:nuevadireccion' %}"><span class="glyphicon glyphicon-plus"></span></a></h3>
		{% if usuario.direccion_set.all %}
			<ul>
			{% for dir in usuario.direccion_set.all %}
				<li><a href="{% url 'usuarios:editardireccion' dir.id %}">{{ dir.descripcion }}</a> 
					<a onclick="return confirm('Está seguro de que quiere borrar esta dirección?')" href="{% url 'usuarios:eliminardireccion' dir.id %}">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Ninguna</p>
		{% endif %}
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<form method="POST" action="{% url 'usuarios:darbaja' %}">
			{% csrf_token %}
			<small><button type="submit" onclick="return confirm('Está seguro de que desea darse de baja');">Darme de baja</button></small>
			
		</form>
	</div>
</div>

{% endblock %}