{% extends 'base.html' %}

{% block title %}
Realizar pedido
{% endblock %}

{% block content %}
<p>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Primer paso</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Paso anterior</button>
{% endif %}
<input type="submit" value="Siguiente"/>
</form>
{% endblock %}