{% extends 'base.html' %}

{% block title %}Carrito de la compra{% endblock %}

{% block content %}
<h3>Artículos en tu carrito</h3>
<div class="row">
	<div class="col-sm-12">
		
		{% if carrito %}
			{% for p in carrito %}
				<div class="row" style="border-bottom:1px solid #EEE;">
					<div class="col-sm-1">
						<a href="{% url 'productos:detallesproducto' id=p.producto.id %}"><img class="img-rounded img-responsive" src="{{ MEDIA_URL }}{{ p.producto.imagen }}" alt="{{ p.producto.nombre }}"/></a>
					</div>
					<div class="col-sm-11">
						<div class="row" style="vertical-align: middle; display:inline">
							<div class="col-sm-7">
								<a href="{% url 'productos:detallesproducto' id=p.producto.id %}">{{ p.producto.nombre }}</a>
							</div>
							<div class="col-sm-2">
								<a href="{% url 'compras:addcarritocant' producto_id=p.producto.id cantidad=p.cantidaddec %}"><span class="glyphicon glyphicon-minus"></span></a> {{ p.cantidad }} ud. <a href="{% url 'compras:addcarritocant' producto_id=p.producto.id cantidad=p.cantidadinc %}"><span class="glyphicon glyphicon-plus"></span></a>
							</div>
							<div class="col-sm-1">{{ p.producto.precio }}€</div>
							<div class="col-sm-1">{{ p.preciototal }}€</div>
							<div class="col-sm-1"><a href="{% url 'compras:eliminarproductocarrito' p.producto.id %}"><span class="glyphicon glyphicon-trash"></span></a></div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<div class="row" style="vertical-align: top; display:inline">
						<div class="col-sm-2"><strong>TOTAL</strong></div>
						<div class="col-sm-offset-8 col-sm-1">
							<strong>{{ total }}€</strong>
						</div>
						<div class="col-sm-1"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12"><br></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<a class="btn btn-primary pull-right" href="{% url 'compras:realizarpedido' %}">Realizar pedido</a>
				</div>
			</div>

		{% else %}
			<p>El carrito está vacío.</p>
		{% endif %}

	</div>
</div>


{% endblock content %}