{% extends 'base.html' %}

{% block title %}Detalle del pedido #{{ pedido.id }}{% endblock %}

{% block content %}
<h3>Detalle del pedido #{{ pedido.id }}</h3>
<div class="row">
	<div class="col-sm-6">	
		<h4>Datos del cliente</h4>
		<p>Nombre: {{ pedido.nombre_cliente }}</p>
		<p>Apellidos: {{ pedido.apellidos_cliente }}</p>
		<p>Email: {{ pedido.email_cliente }}</p>
	</div>
	<div class="col-sm-6" style="border-left:1px solid #EEE">
		<h4>Información del pedido</h4>
		<p>Estado: {{ pedido.get_estado_display }}</p>
		<p>Método de pago: {{ pedido.metodo_pago }}</p>
		<p>Forma de envío: {{ pedido.metodo_envio }}</p>
		<p>Fecha de creación: {{ pedido.fecha | date:'d-m-Y H:i' }}</p>	
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4>Dirección de envío</h4>
		<p>País: {{ pedido.pais }}</p>
		<p>Provincia: {{ pedido.provincia }}</p>
		<p>Ciudad: {{ pedido.ciudad }}</p>
		<p>Código postal: {{ pedido.codigo_postal }}</p>
		<p>Teléfono: {{ pedido.telefono }}</p>
		<p>Teléfono móvil: {{ pedido.telefono_movil }}</p>
		<p>Domicilio: {{ pedido.domicilio }}</p>
	</div>
	<div class="col-sm-6">
		{% if not request.user.is_anonymous %}
			{% if pedido.estado == 'ES' or pedido.estado == 'PR' or pedido.estado == 'SC' %}<a class="btn btn-danger" href="{% url 'compras:cancelarpedido' id=pedido.id %}">Cancelar pedido</a>{% endif %}
			{% if pedido.estado == 'SC' %}<a class="btn btn-success" href="{% url 'compras:confirmarpedido' id=pedido.id %}">Confirmar pedido</a>{% endif %}
		{% endif %}
	</div>
</div>
<hr>

{% for p in productos %}
		<div class="row" style="border-bottom:1px solid #EEE;">
			<div class="col-sm-1">
				<a href="{% url 'productos:detallesproducto' id=p.producto.id %}"><img class="img-rounded img-responsive" src="{{ MEDIA_URL }}{{ p.producto.imagen }}" alt="{{ p.producto.nombre }}"/></a>
			</div>
			<div class="col-sm-11">
				<div class="row" style="vertical-align: middle; display:inline">
					<div class="col-sm-7">
						<a href="{% url 'productos:detallesproducto' id=p.producto.id %}">{{ p.producto.nombre }}</a>
					</div>
					<div class="col-sm-2">
						{{ p.cantidad }} ud.
					</div>
					<div class="col-sm-1">{{ p.producto.precio }}€</div>
					<div class="col-sm-2">{{ p.preciototal }}€</div>
				</div>
			</div>
		</div>
{% endfor %}
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="row" style="vertical-align: top; display:inline">
			<div class="col-sm-2"><strong>Subtotal</strong></div>
			<div class="col-sm-offset-8 col-sm-1">
				<strong>{{ subtotal }}€</strong>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="row" style="vertical-align: top; display:inline">
			<div class="col-sm-2">{{ pedido.metodo_pago.nombre }}</div>
			<div class="col-sm-offset-8 col-sm-1">
				+{{ pedido.metodo_pago.recargo }}€
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="row" style="vertical-align: top; display:inline">
			<div class="col-sm-2">{{ pedido.metodo_envio.nombre }}</div>
			<div class="col-sm-offset-8 col-sm-1">
				+{{ pedido.metodo_envio.coste }}€
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="row" style="vertical-align: top; display:inline">
			<div class="col-sm-2"><strong>TOTAL</strong></div>
			<div class="col-sm-offset-8 col-sm-1">
				<strong>{{ total }}€</strong>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>

{% endblock %}