{% extends 'base.html' %}

{% block title %}Historial de pedidos{% endblock %}

{% block content %}
<h3>Historial de pedidos</h3>
{% if pedidos %}
		<div class="row" style="border-bottom: 1px solid #EEE">
				<div class="col-sm-2 text-center">Nº pedido</div>
				<div class="col-sm-5">Fecha de creación</div>
				<div class="col-sm-2 text-right">Precio total</div>
				<div class="col-sm-offset-1 col-sm-2">Estado</div>
		</div>
		{% for p in pedidos %}
			<a href="{% url 'compras:detallepedido' id=p.id %}">
			<div class="row" style="border-bottom: 1px solid #EEE">
				<div class="col-sm-2 text-center">#{{ p.id }}</div>
				<div class="col-sm-5">{{ p.fecha | date:'d-m-Y H:i' }}</div>
				<div class="col-sm-2 text-right">{{ p.precio }}€</div>
				<div class="col-sm-offset-1 col-sm-2">{{ p.get_estado_display }}</div>
			</div>
			</a>
		{% endfor %}
{% else %}
	<p>No has realizado ningún pedido</p>
{% endif %}
{% endblock %}