{% extends 'base.html' %}

{% block title %}Pedido completado{% endblock %}

{% block content %}
<h3>Pedido completado correctamente</h3>
<p>El identificador de su pedido es {{ idpedido }}. Es recomendable que lo guarde ya que le será necesario para consultar el estado del
pedido en cualquier momento.</p>
<p><a href="{% url 'compras:detallepedido' id=idpedido %}">Ir al pedido</a></p>
{% endblock %}