<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Tienda virtual{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>
<body>

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index' %}">Tienda virtual</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'productos:listaproductos' %}">Productos</a></li>
      </ul>
      <form class="navbar-form navbar-left" method="GET" action="{% url 'productos:listaproductos' %}">
        <div class="form-group">
          <input type="text" name="busqueda" class="form-control" placeholder="Buscar productos">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'compras:vercarrito' %}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        {% if user.id %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'usuarios:perfil' %}">Mi perfil</a></li>
            <li><a href="{% url 'compras:listapedidos' %}">Historial de pedidos</a></li>
            <li><a href="{% url 'usuarios:logout' %}">Cerrar sesión</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'usuarios:registro' %}?next={{ request.path }}">Registrarse <span class="glyphicon glyphicon-edit"></span></a></li>
        <li><a href="{% url 'usuarios:login' %}?next={{ request.path }}">Identificarse <span class="glyphicon glyphicon-log-in"></span></a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navbar %}
<div class="container">
	{% block content %}{% endblock content %}
</div>
</body>
</html>
